<li>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <input class="module-active" data-module_name="{{ name }}" type="checkbox" {{ active ? 'checked' : '' }} />{{ name }}
            {% if adminOnly %}
                <span class="label pull-right label-danger">Admin only</span>
            {% endif %}
        </div>

        <div class="panel-body" id="{{ name }}_module">
            {{ description|raw }}

            {% if settings %}
                <hr />
                <h3>Settings</h3>

                <ul>
                    {% for setting in settings %}
                            <li class="{{ setting.type == 'hidden' ? 'hidden' : '' }}" >
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        {% if setting.type == 'bool' %}
                                            <input type="hidden" name="{{ setting.name }}" value="" />
                                            <input type="checkbox" name="{{ setting.name }}"
                                                {{ setting.value ? 'checked' : '' }} value="true" />
                                        {% endif %}
                                        <b>{{ setting.title }}</b> - {{ setting.description|raw }}
                                    </div>
                                    {% if setting.type != 'bool' %}
                                        <div class="panel-body">
                                            <input type="text" name="{{ setting.name }}" value="{{ setting.value }}"/>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</li>