
//Fonts
//---------------------------------------------------------

//Font settings
$font-family-std:		 'Roboto', sans-serif;

$font-weigth-standard: 400;
$font-weight-startpage-text: 300;
$font-weight-underpage-title: 300;
$font-weight-underpage-text: 300;
$font-weight-underpage-h2: $font-weight-underpage-text;

$font-weight-contactpage: 300;
$font-weight-contactpage-h3: $font-weight-underpage-text;
$font-weight-contactpage-h4: 300 bold;
$font-weight-contactpage-emp-name: 500;

$font-size-standard: 14px;
$font-size-footer-quote-text: 18px;
$font-size-footer-text: 14px;
$font-size-startpage-text: 18px;
$font-size-startpage-italic-text: 16px;

$font-size-underpage-title: 38px;
$font-size-underpage-text: 16px;
$font-size-underpage-h2: 30px;

$font-size-contactpage: 16px;
$font-size-contactpage-h3: 21px;
$font-size-contactpage-h4: 16px;

$font-footer-nav-style: bold;

$font-text-transform: uppercase;
$font-nav-text-transform: $font-text-transform;


//---------------------------------------------------------

//Background pictures
//---------------------------------------------------------
$page-title-background-img: url('../../assets/images/BG_page_title.png');


//---------------------------------------------------------

//Colors
//---------------------------------------------------------
//Font color
$font-color-startpage-text: #f9f9f9;
$font-color-startpage-italic-text: #7b7b7b;

$showcase-text-color: #024479;

$font-color-footer-text: #686868;
$font-color-underpage-title: #024479;
$font-color-underpage-h2: #024479;

$font-color-contactpage:  #333;
$font-color-contact-h3: #505050;
$font-color-contact-h4: #434343;
$font-color-contact-link: #0097ca;

//Background colors
$background-color: #f9f9f9;
$background-color-footer: #f1f1f1;
$background-color-header: #fff;

$background-color-startpage-text-container: #0097ca;
$background-color-starpage-slider: #999;

$showcase-picture-background-color: #fff;

$background-color-footer-text-box: #fff;

//Navigation
$nav-text-color: $font-color-footer-text;
$nav-text-color-hover: #0097ca;

//---------------------------------------------------------

//Border
//---------------------------------------------------------
$nav-border-bottom: 3px solid $nav-text-color-hover;

$showcase-border: 1.5px solid #efefef;


//---------------------------------------------------------

//startpage
//---------------------------------------------------------
$startpage-content-margin: -74px 0 60px 0;
$startpage-content-text-margin: 30px 60px;

$showcase-height: 45px;
$showcase-height-xs: 45px;
$showcase-height-sm: 60px;
$showcase-height-md: 60px;
$showcase-height-lg: 60px;

$showcase-title-margin: 15px 0 0 0;
$showcase-title-margin-xs: 15px 0 0 0;
$showcase-title-margin-sm: 15px 0 0 0;
$showcase-title-margin-md: 15px 0 0 0;
$showcase-title-margin-lg: 15px 0 0 0;


//---------------------------------------------------------


//underpage
//---------------------------------------------------------
$underpage-title-height: 96px;

$content-padding: 55px 0 55px;


//---------------------------------------------------------

//Contactpage
//---------------------------------------------------------

//Send Message form
//-----------------
$contactpage-form-top-gradient-color: #56c4f0;
$contactpage-form-bottom-gradient-color: #08a0db;

$contactpage-form-text-size: $font-size-standard;
$contactpage-form-text-weight: 300;
//---------------------------------------------------------



//Footer
//---------------------------------------------------------
//
$footer-container-padding: 15px 0px 15px;