@import "common/_variables";

//Custom Variables
@import "custom.scss";
@import "font-awesome.scss";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

@import "layouts/puffar";
@import "layouts/nav";

//Custom pages
@import "page-templates/startpage.scss";
@import "page-templates/underpage.scss";
@import "page-templates/contactpage.scss";
@import "page-templates/productpage.scss";
@import "page-templates/signup.scss";
@import "page-templates/brochure.scss";



body{
	//background-color: $background-color;

	background: #f9f9f9; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#fbfbfb, #f9f9f9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fbfbfb, #f9f9f9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fbfbfb, #f9f9f9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fbfbfb, #f9f9f9); /* Standard syntax */


	line-height: 30px;

	font-weight: $font-weigth-standard;
	font-family: $font-family-std;
}

.container {
	max-width: 982px;
	@media (min-width: 768px){
		width: initial;
	}
}

.main{
	@media(max-width: $screen-xs-max){
		padding-left: 0;
		padding-right: 0; 
	}
}

.page-header{
	border:none;
}

.tparrows {
background: #fff !important;
color: #616161 !important;
	@media(max-width: $screen-xs-max){
		display:none !important;
	}

}

.tp-leftarrow:before{
	content:$fa-var-angle-left !important;
}

.tp-rightarrow:before{
	content:$fa-var-angle-right !important;
}
 
.tparrows:before {
	font-family: "fontawesome" !important;
	font-size: 30px !important;
	line-height:38px !important;
	color: #616161 !important;

}


.tparrows:hover:before {
color: #0097ca !important;

}

.wpcf7-form{
	.radiobuttons{
		padding-bottom: 15px;
	}

	.LeadText{
		padding-bottom: 15px;

		input{
			padding-left: 10px;
			width: 385px;
			height:35px;
			@media(max-width: 430px){
				width: 100%;
			}
		}

		select{
			width: 385px;
			height:35px;
			@media(max-width: 430px){
				width: 90%
			}					
		}

		&.message{
			textarea{
				width:385px;
				@media(max-width: 430px){
					width: 100%;
				}
			}
		}

		.wpcf7-submit{
			color:#fff;

			width: 385px;
			height: 33px;
			
			@media(max-width: $screen-sm-max){
				width: 385px;
				padding:0;
				margin-left: auto;
				margin-right: auto;
			}
			@media(max-width: 385px){
				width:100%;
			}

			font-size: $contactpage-form-text-size;
			font-weight: $contactpage-form-text-weight;
			text-shadow: -1px 1px rgba(0,0,0,0.3);

		    background-color: #09a1dd;
		    background: -webkit-linear-gradient($contactpage-form-top-gradient-color, $contactpage-form-bottom-gradient-color);
		    background: -o-linear-gradient($contactpage-form-top-gradient-color, $contactpage-form-bottom-gradient-color);
		    background: -moz-linear-gradient($contactpage-form-top-gradient-color, $contactpage-form-bottom-gradient-color);
		    background: linear-gradient($contactpage-form-top-gradient-color, $contactpage-form-bottom-gradient-color);

			border-radius: 0;
			border-top: 1px solid #99dbf5;
			border-bottom: 1px solid #038cc2;
			border-left: 1px solid #99dbf5;
			border-right: 1px solid #038cc2;
		}
		.submit-container {
		    display: inline;
		    position: relative;

		    .ajax-loader {
		    	visibility: hidden;
		    	position: absolute;
		    	right: 8px;
		    	top: 4px;
		    }
		}
	}
}