.brochure{
	background: #fff;
	padding-bottom: 25px;

	.product-list{
		margin: 35px 0;
		img{
			max-width: 100%;
		}

		.brochure-item {
			@media(max-width:400px){
				width: 50%;
			}
		}
	}

	.wpcf7-form{
		margin: 0px auto;
		position: relative;
		width: 385px;

		@media(max-width:415px){
			width: 90%;
		}

		.wpcf7-submit{
			width: 100% !important;
		}
		input{
			width: 100% !important;
		}
	}
}