#map-canvas{
	height: 350px;
}

.contactpage{
	background-color: #fff;
	line-height: initial;

	@media(max-width: $screen-xs-max){
		text-align: center;
	}
	.content-row{
		padding:93px 0 33px;
		@media(max-width: $screen-sm-max){
			padding:55px 0 33px;
		}
	}

	label {
		margin-bottom: 10px;
	}
	#contactpage-checkbox {
		margin-right: 10px;
	}
	#contactpage-text {
		font-weight: 300;
	}

	.padded-bottom {
		padding-bottom: 15px;
	}

	.content{
		.row{
			margin:0 80px 0 80px;
			font-weight: $font-weight-contactpage;
			font-size: $font-size-contactpage;
				@media(max-width: $screen-xs-max){
					margin:0;
				}
	
			h3{
				font-size: $font-size-contactpage-h3;
				font-weight: $font-weight-contactpage-h3;
				color: $font-color-contact-h3;
				padding-bottom: 20px;
			}
	
			h4{
				font-size: $font-size-contactpage-h4;
				font-weight:$font-weight-contactpage-h4;
				color: $font-color-contact-h4;
			}
	
			.contact{
				margin: 35px 0 35px;
				@media(min-width: $screen-xs-max){
					.col-sm-6, .col-xs-12{
						padding:0;
					}
				}
			}
	
	
			.facilitys{
				.facility{
					&.billing{
						margin-top:63px;
					}
				}
			}
	
			.personal{
				@media(max-width: $screen-sm-max){
					padding-bottom: 20px !important;
				}

				img{
					max-width: 222px;
					max-height: 230px;
				}
	
				@media(min-width: $screen-sm-max){
					&:nth-child(3n+2) {
					  padding-left: 20px;
					}

					&:nth-child(3n+3) {
					  padding-left: 20px;
					}
				}
			}
	
			.employe{
				.PL_infosquare{
					margin-top: 10px;
	
					.PL_name{
						font-weight: $font-weight-contactpage-emp-name;
					}
	
					.PL_Uppgift.PL_telephone{
						a, a:hover, a:active{
						color: $font-color-contactpage;
						text-decoration: none;
						}
					}
	
					.PL_Uppgift.PL_email{
						a, a:hover, a:active{
						color: $font-color-contact-link;
						}
					}
				}
			}

			.wpcf7-form{
				.LeadText{
					padding-bottom: 15px;
					@media(max-width: $screen-sm-max){
						padding-bottom: 15px;
					}
	
					input{
						padding-left: 10px;
						width: 385px;
						height:35px;
						@media(max-width: 430px){
							width: 100%;
						}
					}
	
					select{
						width: 385px;
						height:35px;
						@media(max-width: 430px){
							width: 90%
						}					
					}

					&.submit{
						@media(min-width: $screen-sm-max){
							float: right;
							right: 37px;
						}
						input{
							width: 385px;
	
							@media(max-width: 430px){
								width: 100%;
							}
							@media(min-width: $screen-sm-max){
								width: 379px;
							}
						}
					}
	
					&.message{
						textarea{
							width:385px;
							padding:5px 10px;
							@media(max-width: 430px){
								width: 100%;
							}
						}
	
						@media(min-width: $screen-sm-max){
							position: absolute;
							top: 73px;
							right: 37px;  
							float:right;
	
							textarea{
								height: 135px;
								width: 379px;
							}
						}
					}
					.wpcf7-submit{
						color:#fff;
	
						width: 385px;
						height: 33px;
						
						@media(max-width: $screen-sm-max){
							width: 385px;
							padding:0;
							margin-left: auto;
							margin-right: auto;
						}
						@media(max-width: 385px){
							width:100%;
						}
	
						font-size: $contactpage-form-text-size;
						font-weight: $contactpage-form-text-weight;
						text-shadow: -1px 1px rgba(0,0,0,0.3);

					    background-color: #09a1dd;
					    background: -webkit-linear-gradient($contactpage-form-top-gradient-color, $contactpage-form-bottom-gradient-color);
					    background: -o-linear-gradient($contactpage-form-top-gradient-color, $contactpage-form-bottom-gradient-color);
					    background: -moz-linear-gradient($contactpage-form-top-gradient-color, $contactpage-form-bottom-gradient-color);
					    background: linear-gradient($contactpage-form-top-gradient-color, $contactpage-form-bottom-gradient-color);

						border-radius: 0;
						border-top: 1px solid #99dbf5;
						border-bottom: 1px solid #038cc2;
						border-left: 1px solid #99dbf5;
						border-right: 1px solid #038cc2;
					}
					.submit-container {
					    display: inline;
					    position: relative;
	
					    .ajax-loader {
					    	visibility: hidden;
					    	position: absolute;
					    	right: 8px;
					    	top: 4px;
					    }
					}
				}
			}
		}
	}
}