
.productpage{
	line-height: initial;
	background-color: #fff;
	overflow-x: hidden;

	&.noBG{
		background: transparent;
	}

	.page-text{
		padding: $content-padding;
		margin:0 80px 0 80px;
		font-weight: $font-weight-underpage-text;
		font-size: $font-size-underpage-text;

		h2{
			font-size: $font-size-underpage-h2;
			font-weight: $font-weight-underpage-h2;
			color: $font-color-underpage-h2;
		}
	}

	.fill{
		min-height: 225px;
	}

	.product-slider{
		min-height: 182px;
		background-color: #eaeaea;
		text-align: center;

		a{
			text-decoration: none;
		}


		.product-list{
			padding: 0 28px;
			@media(max-width: 480px){
				padding: 0 65px;
			}
			@media(min-width: 480px) and (max-width: $screen-xs-max){
				padding: 0 40px;
			}

			.title{
				margin-top: 30px;

				h2{
					font-size: 26px;
					font-weight: 300;
					color: #0097ca;
				}
			}
			.desc{
				font-weight: 300;
				color: #000;
			}
		}


		.sel-product{
			background-color: #024479;
			width: 199px;
			padding: 0 16px;
			position: absolute;
			z-index: 999;
			left: 60px;

		    @media(max-width: $screen-md){
				left: 40px;
		    }	
		    @media(max-width: 785px){
				position: relative;
				width: 100%;
				left: initial;
				padding: 1px 0 15px;
		    }

			.title{
				margin-top: 5px;
				h2{
					font-size: 26px;
					font-weight: 300;
	
					color: #eaeaea;
				}
			}
			.desc{
				min-height: 70px;
				font-size: 14px;
				font-weight: 300;
				color: #eaeaea;
				@media(max-width: 785px){
					padding: 0px 20px;
				}
			}
			.current-text{
				font-weight:bold;
				text-transform: uppercase;
				color: #ffffff;
				height: 50px;

				i{
					position: absolute;
					line-height: 8px;
					margin-top: 10px;
					font-size: 30px;
					left: 90px;
					z-index: 99999;
					@media(max-width: 785px){
						position: initial;
					}
				}

				img{
					margin: 13px 0px 0px -16px;
				}
			}
		}
		.owl-wrapper-outer{
			width:97%;
		    @media(max-width: $screen-md){
				width:95%;
		    }

			.owl-wrapper{
				left: 16px !important;

		        @media(max-width: 470px){
		    		left: 0px !important;
		        }
			    @media(min-width: 471px) and (max-width: $screen-md){
					left: 23px !important;
			    }

				.owl-item{
					margin-right: -15px;

				    @media(max-width: $screen-md){
						margin-right: initial;;
				    }

					a{
						text-decoration: none;	
					}
					&.first{
						margin-left: -15px;

					    @media(max-width: $screen-md){
							margin-left: initial;
							margin-right: -23px;
					    }
					}
					&.active{
					    @media(max-width: $screen-md){
							margin-right: -23px;
					    }	
					}
				}
			}
		}
		.owl-controls{
			//display: initial !important;
			.owl-buttons {
			  .owl-prev, .owl-next {
			  	position:absolute;
			    background:#fff;
				color: #b1b1b1;

			    border:0;
			    top:50%;
			    padding:0;
			    width: 32px;
			    height: 32px;
			    line-height: 31px;
			    opacity:1;
			    border-radius:50%;
			    font-size: 20px;
			    &:before {
			      font-size:60px;
			    }
			    &:hover{
			    	color: #0097ca;
			    }
			  }
			  .owl-prev {
			    left:-250px;
			    z-index: 999999;

		        @media(max-width: $screen-xs-max){
		    		left: 0;
		        }
			    @media(min-width: $screen-xs-max) and (max-width: $screen-sm-max){
					left: -193px;
			    }

			  }

			  .owl-next {
			    right: -12px;
			  }
			}
		}
		&.sib-1{
			.current{
				@media(min-width: $screen-sm) and (max-width: $screen-md){margin-left:136px;}
				@media(min-width: $screen-md){margin-left:218px;}

				.desc{
					@media(max-width: $screen-xs-max){min-height:20%;}
				}
			}

			.slide{
				@media(max-width: $screen-xs-max){margin-bottom:15px;}
				@media(min-width: $screen-sm) and (max-width: $screen-md){margin-left:60px;}

				.product-list{
					@media(max-width: $screen-xs-max){padding:0 20%;}
					@media(min-width: $screen-sm) and (max-width: $screen-md){padding:0;}

				}
			}
		}
		&.sib-2{
			@media(max-width: $screen-sm){
				overflow: hidden;
			}
			.current{
				@media(min-width: 785px) and (max-width: $screen-md){margin-left:7px;}
				@media(min-width: $screen-md){margin-left:97px;}

				.desc{
					@media(max-width: 785px){min-height:20%;}
				}
				.current-text{
					img{
						@media(max-width: 785px){ display:none;}
					}
				}
			}

			.slide{
				@media(max-width: 785px){margin-bottom:15px; width: 100%; float:initial;}
				//@media(min-width: 785px) and (max-width: $screen-md){margin-left:30px;}

				.owl-wrapper-outer{
					@media(min-width: 480px) and (max-width: 785px){width: 96% !important;}
					@media(min-width: 785px){width: 185% !important;}
					.owl-wrapper{
						@media(min-width: 480px) and (max-width: 785px){width: initial !important;}

						.owl-item{
							@media(min-width: 480px){
								width: 43% !important;
							}
							@media(min-width: 480px) and (max-width: $screen-sm){
								width: 50% !important;
							}
							@media(min-width: 480px) and (max-width: 785px){width: 49% !important;}
							@media(min-width: 785px) and (max-width: $screen-sm){
								padding: 0 2px 0 25px;
								margin-left: -29px;
							}
							@media(min-width: 785px) and (max-width: $screen-md){
								padding: 0 39px 0 25px;
								margin-left: -29px;
							}

							&.first{
								@media(min-width: 480px){
								border-right: 1px solid rgb(209, 216, 222);
								height: 147px;
								margin-right: 4px;
								}
								@media(min-width: 785px) and (max-width: $screen-md){
									margin-right: 40px;
								}
								@media(min-width: 785px) and (max-width: $screen-md){
									width: 43% !important;
									margin-left: 2px;
									padding: 0 25px 0 25px;
								}
								@media(min-width: $screen-md){
									width: 50% !important;
								}
							}
							.product-list{
								padding: 0 20px;
								@media(max-width: 480px){
									padding: 0 65px;
								}
								@media(min-width: 480px) and (max-width: $screen-xs-max){
									padding: 0 40px;
								}
							}
						}
					}
				}

				.product-list{
					@media(max-width: 785px){padding:0 20%;}
					@media(min-width: 785px) and (max-width: $screen-md){padding:0;}

				}
			}
		}
	}
}


.categories{
	padding:30px 30%;

    @media(max-width: $screen-xs){
		padding: 30px 5%;
    }
    @media(min-width: $screen-xs) and (max-width: $screen-xs-max){
		padding: 30px 15%;
    }


	background: #eaeaea;

	.category{
		text-align: center;
		margin:0 auto;
		.category-image{
			background-color:#fff;
			border-radius: 50%;
			height: 65px;
			width: 65px;
			margin:0 auto 15px;
			line-height: 54px;
			display: block;
			border: 3px solid transparent;

			img{
				height: 36px;
			}
		}
		.category-title{
			color: #0097ca;
			margin: 15px 0px 10px;
		}
		&.pos1{
			img{
				height: 30px;
			}
		}
	}
	a:hover, a:active, .activeCat{
		.category{
			.category-image{
				border-color: #024479;
			}

			.category-title {
				position: relative;
				background: #eaeaea;
				border-bottom: 3px solid #024479;
				color: #024479;
			}
			.category-title:after, .category-title:before {
				top: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			.category-title:after {
				border-color: rgba(234, 234, 234, 0);
				border-top-color: #eaeaea;
				border-width: 7px;
				margin-left: -7px;
			}
			.category-title:before {
				border-color: rgba(2, 68, 121, 0);
				border-top-color: #024479;
				border-width: 10px;
				margin-left: -10px;
			}
		}
	}
}
.orderLink{
	text-decoration: none !important;

	.orderButton{
		text-align: center;
		background-color: #0097ca;
		min-height: 73px;
			
		h2{
			line-height: 35px;
			color: #fff;
			font-size: 26px;
			font-weight: 300;
		}
	}
}

.page-header{
	height: $underpage-title-height;
	background-image: $page-title-background-img;
	background-repeat: repeat;
	margin:0 !important;
	h1{
		margin: 0;
		color:$font-color-underpage-title;
		font-size: $font-size-underpage-title;
		font-weight: $font-weight-underpage-title;
		line-height: $underpage-title-height;
		display:inline-block;
		vertical-align:middle;
	}
	
}