
.signup{
	background-color: #fff;

	h3{
		font-size: $font-size-contactpage-h3;
		font-weight: $font-weight-contactpage-h3;
		color: $font-color-contact-h3;
		padding-bottom: 20px;
	}

	label {
		margin-bottom: 10px;
	}
	input {
		margin-right: 10px;
	}
	span {
		font-weight: 400;
	}

	.padded-bottom {
		padding-bottom: 15px;
	}
	
	.newsletter{
		h3{
			@media(min-width: $screen-md){ margin-bottom: 33px; }
		}

		p{
			margin: 0;
		}
	}

	.page-text{
		margin:55px 80px;

		@media(max-width:416px){
			margin: 55px 0;
		}
		@media(max-width: $screen-xs-max) and (min-width: 417px){
			width: 385px;
			margin: 55px auto;
		}
	}

	.wpcf7{
		.LeadText{
			textarea{
				padding:0 10px;
			}
			@media(max-width: $screen-md){
				input{
					width: 100% !important;
				}
				textarea{
					width: 100% !important;
				}
			}
			@media(min-width: 410px) and (max-width: $screen-xs-max){
				input{
					width: 385px !important;
				}
				textarea{
					width: 385px !important;
				}
			}
		}
		.wpcf7-radio{
			display: inline-block;
		}
	}

	.contactreq{
		.message{
			padding-bottom: 10px;
		}
	}
}