
.startpage{
	margin: $startpage-content-margin;

	@media(max-width: $screen-xs-max){
		margin:0px 0px 60px;
	}

	background-color: $background-color-startpage-text-container;
	color: $font-color-startpage-text;
	font-weight: $font-weight-startpage-text;
	font-size: $font-size-startpage-text;
	position: relative;

	em{
		font-style: italic;
		font-size: $font-size-startpage-italic-text;
		color: $font-color-startpage-italic-text;
	}

	.page-text{
		font-weight: 300;
		margin: $startpage-content-text-margin;
		@media(max-width: $screen-xs-max){
			margin:30px 0px;
			font-size: 14px;
		}
	}
}

.slider{
	background-color:$background-color-starpage-slider;
	//height: 600px;
}