
.undersida{
	background-color: #fff;

	.page-text{
		padding: $content-padding;
		margin:0 80px 0 80px;
		font-weight: $font-weight-underpage-text;
		font-size: $font-size-underpage-text;

		@media(max-width: $screen-sm){
			padding: 0px 0px 30px;
			margin:0;
		}

		h2{
			font-size: $font-size-underpage-h2;
			font-weight: $font-weight-underpage-h2;
			color: $font-color-underpage-h2;
			margin: 33px 0 30px;
		}
		p{
			margin-bottom: 30px;
		}
	}

}