{% extends 'Layout.twig' %}

{% block content %}
    <form action="{{ save_url }}" method="post">
        <div class="row">
            <div class="col-sm-9">
                {% if is_admin %}
                    <input name="title" type="text" class="form-control input-lg" value="{{ title }}">
                {% else %}
                    <h2>{{ title }}</h2>
                {% endif %}
            </div>
            <div class="col-sm-9">
                <h2>Bilder</h2>
                <ul class="panel-group ui-sortable" id="slider-image-list">
                    {% for image in images %}
                        {% include 'Slider/SliderImageItem.twig' with image %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-3 sidemenu">
                <a href="#" class="btn btn-block btn-lg btn-success" id="new-image">
                    <span class="glyphicon glyphicon-plus"></span> Lägg till ny bild
                </a>

                <button target="publish" class="btn btn-block btn-lg btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Spara ändringar
                </button>

                {% if languages %}
                    <hr />

                    <ul>
                        {% for language in languages %}
                            <li>
                                {% if language.post_id %}
                                    {% set href = edit_url ~ '&id=' ~ language.post_id%}
                                {% else %}
                                    {% set href = translate_url ~ '&lang_code=' ~ language.language_code %}
                                {% endif %}

                                <a href="{{ href }}" class="btn btn-block {{ language.default_locale == slider_language.locale ? 'btn-primary' : 'btn-default' }} btn-lg btn-block">
                                    <img src="{{ language.country_flag_url }}" />
                                    {{ language.translated_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <hr />
                {% endif %}

                {% if is_admin %}
                    <a href="{{ delete_url }}"
                       class="btn btn-block btn-lg btn-danger" data-confirm="true" data-confirm-title="Ta bort bildspel"
                       data-confirm-text="Är du säker på att du vill ta bort bildspelet samt alla bilder?">
                        <span class="glyphicon glyphicon-trash"></span> Ta bort bildspel
                    </a>

                    <h3>Bildspelet ska ha:</h3>
                    <label for="enable_title">Rubrik</label>
                    <input type="checkbox" name="title_support" {{ title_support ? 'checked' : '' }} value="true">
                    <label for="enable_subtitle">Underrubrik</label>
                    <input type="checkbox" name="subtitle_support" {{ subtitle_support ? 'checked' : '' }} value="true">
                {% endif %}

                <input type="submit" class="hidden" id="publish">
            </div>
        </div>
    </form>

    <div id="slider-image-template" class="hidden">
        {% include 'Slider/SliderImageItem.twig' with
            {
                id: '',
                media_id: '{0}',
                src: '{1}',
                order: '{2}'
            }
        %}
    </div>
{% endblock %}