<li class="slider-image-panel">
    <div class="panel panel-branded">
        <div class="panel-heading drag-handle" data-toggle="tooltip" title="" data-original-title="Dra och släpp för att sortera">
            <span class="glyphicon glyphicon-move"></span>
        </div>

        <div class="panel-body">
            <div class="col-sm-7 slider-image">
                <span class="glyphicon glyphicon-trash"></span>
                <img class="img-responsive drag-handle" src="{{ src }}">
                <div class="clear"></div>
            </div>
            <div class="col-sm-5">

                {% if title_support %}
                    <div class="form-group col-sm-12">
                        <label>Rubrik</label>
                        <input type="text" class="form-control input-sm" name="image_title[]" value="{{ title }}">
                    </div>
                {% endif %}

                {% if subtitle_support %}
                <div class="form-group col-sm-12">
                    <label>Underubrik</label>
                    <input type="text" class="form-control input-sm" name="image_subtitle[]" value="{{ subtitle }}">
                </div>
                {% endif %}

                <div class="form-group col-sm-12">
                    <label>Bildtext</label>
                    <textarea class="form-control input-sm" name="image_text[]">{{ text }}</textarea>
                </div>

                <div class="form-group col-sm-8">
                    <label>Länkadress</label>
                    <input class="form-control input-sm" type="text" name="image_href[]" value="{{ href }}">
                    <div class="clear"></div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Öppna länk i</label>
                    <select name="image_target[]" data-value="{{ target }}" class="form-control input-sm">
                        <option value="_blank">Ny flik</option>
                        <option value="_self">Samma flik</option>
                    </select>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>

                <div class="form-group col-sm-12">
                    <label>Visas</label>
                    <div class="input-group input-daterange">
                        <input name="image_date_from[]" type="text" class="input-sm form-control" placeholder="fr.o.m" value="{{ date_from }}">
                        <span class="input-group-addon">-</span>
                        <input name="image_date_to[]" type="text" class="input-sm form-control" placeholder="t.o.m" value="{{ date_to }}">
                    </div>
                    <div class="clear"></div>
                </div>

                <input type="hidden" name="media_id[]" value="{{ media_id }}">
                <input type="hidden" name="image_id[]" value="{{ id }}">
                <input type="hidden" name="image_order[]" value="{{ order }}">
                <input type="hidden" name="image_remove[]" value="">
                <div class="clear"></div>
                <div class="col-sm-12">
                    <a href="#" class="btn btn-sm btn-block btn-danger remove-image"><span class="glyphicon glyphicon-trash"></span> Ta bort</a>
                </div>
            </div>
        </div>
    </div>
</li>