#adminmenuwrap, #adminmenuback {
  height: 100% !important;
}

#adminmenuwrap {
  position: fixed !important;
  z-index: 1000 !important;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
  color: #fff !important;
}

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
  border-right-color: #FFF !important;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
  background-color: @brand-color !important;
  color: #fff !important;
}

#adminmenu {
  li:hover div.wp-menu-image:before {
      color: #fff !important;
  }
  li div.wp-menu-image {
    color: #fff !important;
  }
}

#adminmenu li.current a.menu-top {
  background-color: @brand-color !important;
}