body.wp-core-ui {

  // Göm wordpress footern i admin
  #wpfooter {
    padding: 20px 0;
    border: none;

    width: 204px;
    z-index: 101;

    .timelab-logo {
      width: 164px;
      height: 65px;
      background-size: contain;
      background-image: url('../img/timelabcms-logo.png');
      background-repeat: no-repeat;
      margin: 0 auto;
    }

    p {
      display: none;
    }
  }

}