.thumbnail-image {
  margin: 5px inherit;
  min-height: 150px;
  cursor: pointer;
  text-align: center;

  &.removed {
    opacity: 0.25;
  }

  img {
    max-width: 150px;
    max-height: 150px;
  }
}

#gallery-image-preview {
  img {
    max-width: 250px;
    max-height: 250px;
  }
}

.no-tags img {
  border: 2px solid #ff0f4a;
}

.tag-list li {
  min-width: 25%;
}
.tag-admin-list {
  margin-top: 10px;

  li {
    &.removed {
      opacity: 0.5;
    }
  }
}