ol.sortable-list {
  margin: 0;

  background-color: @primary-color;

  .admin-menu-border();


  li {
    display: block;
    margin: 5px;
  }

  .removed {
    opacity: 0.5 !important;
  }

  li > div {
    cursor: move;
    margin: 5px 0;
    display: block;
    background-color: darken(@primary-color, 2.5%);
    border: 1px solid darken(@primary-color, 20%);
    padding: 5px;

    &.placeholder {
      border-style: dashed;

      .remove-button {
        display: none;
      }
    }

    & > .glyphicon {
      color: @brand-color;
    }
  }
}