{% extends 'Layout.twig' %}

{% block content %}

{% include 'Page/ModalNewPage.twig' %}
{% include 'Page/ModalNewLink.twig' %}

<form method="post" action="{{ save_url }}">
    <div class="col-sm-9">
        <div id="menu-editor-list" class="row">
            {% for menu in menus %}
                <h2>{{ menu.title }}</h2>
                <ol class="top-menu ui-sortable" data-menu_id="{{ menu.id }}">
                    {% for page in menu.pages  %}
                        {% include 'Page/MenuItem.twig' with page %}
                    {% endfor  %}
                </ol>

                {% if menu.id == trash_menu_id %}
                    <a data-ajax_url="{{ trash_url }}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Töm papperskorg
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-3 sidemenu">
        <a class="btn btn-block btn-lg btn-success" data-ajax_url="{{ save_url }}"><span class="glyphicon glyphicon-ok"></span> Spara ändringar</a>
        <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#new-page-modal"><span class="glyphicon glyphicon-file"></span> Skapa ny undersida</a>
        <a href="#" class="btn btn-block btn-primary" data-toggle="modal" data-target="#new-link-modal"><span class="glyphicon glyphicon-link"></span> Lägg till länk</a>
    </div>
</form>
{% endblock %}