footer{
	background-color: $background-color-footer;
	text-transform: $font-nav-text-transform;
	font-size: $font-size-startpage-text;

	.container{
		padding: $footer-container-padding;
	}

	.copyright{
		float:left;
		height: 40px;
		white-space: nowrap;
		@media(max-width: $screen-xs-max){
			text-align: center;
		}
		@media(min-width: $screen-xs-max){
			line-height: 46px;
		}
	}

	strong{
		line-height: 40px;
		font-size: $font-size-footer-text;
		color: $nav-text-color;
	}
}

.bottom-text{
	margin: 20px 0 60px 0;
	background-color: $background-color-footer-text-box;
	font-weight: $font-weight-startpage-text;
	font-size: $font-size-footer-quote-text;
	color: #323232;

	em{
		font-style: italic;
		font-size: $font-size-startpage-italic-text;
		color: $font-color-startpage-italic-text;
	}

	.page-text{
		margin: $startpage-content-text-margin;
		font-weight: 300;
		@media(max-width: $screen-xs-max){
			margin:30px 25px;
			font-size: 14px;
		}
		i{
			font-size: 16px;
			font-family: 'Georgia', sans-serif;
			font-weight: 300;
			color: #7b7b7b;
		}
	}


}
//Arrow on box
.bottom-text {
	position: relative;
	background: #fff;
	border: 2px solid #fff;
}
.bottom-text:after, .bottom-text:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bottom-text:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 13px;
	margin-left: -13px;
}
.bottom-text:before {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 16px;
	margin-left: -16px;
}