
$header_padding: 42px 0px 22px;

header{
	padding: $header_padding;
	border-top: 5px solid #0097ca;
	width: initial;

	@media(max-width: $screen-xs-max){
		padding: $header_padding 0px;
	}

	.headlogo{
		float:left;

		@media(max-width: $screen-xs-max){
			float: initial;
			text-align: center;
		}
		@media(max-width: $screen-md-max){
			float:none;
			text-align: center;
		}

		img{
			@media(max-width: 300px){
				width: 80%;
			}
		}
	}

	

	nav{
		float:right;


	}

}