
.nav-primary{
	@media(max-width: $screen-xs-max){
		clear:both;
		width:100%;
		margin-bottom: 0;
	}
	a{
		text-transform: $font-nav-text-transform;
		font-weight: $font-footer-nav-style;
		color:$nav-text-color;

		padding: 0 0 5px 0 !important;
		margin: 10px 15px 0 !important;
	}
	a:hover{
		border-bottom: $nav-border-bottom;
		background-color:initial !important;
		color:$nav-text-color-hover;
	}
	.dropdown-menu{
		a{
			font-size: ($font-size-footer-text)-2;
		} 
	}
	
	
	li{ 
		display: inline-block;
		float: left;
		height: 40px;
		&.current_page_item{
			a{
				border-bottom: $nav-border-bottom;
				color:$nav-text-color-hover;
			}
		}
	}

}

header{
	.nav-primary{
		background-color:transparent;
		border-color:transparent;
		border-bottom: 1px solid transparent;
		@media(max-width: $screen-md-max){
			float:none;
		}
		
		//In small devices
		.hidden-sm{
			@media(min-width: $screen-xs-max){
				display:none;
				text-align: left;
			}

			a{
				font-size: $font-size-standard;
				display:inline;
				line-height: 40px;
				color:$nav-text-color;
			}

			a:hover{
				color:$nav-text-color-hover;
			}

			li{
				float:none !important;

			}

			.dropdown{
				&.open{
					.dropdown-toggle{	
						color: $nav-text-color-hover;
						background-color: transparent;
					}
				}

				&.open{
					.dropdown-toggle:hover{	
						border-bottom: $nav-border-bottom;
					}
				}


				.dropdown-toggle{
					padding-bottom: 3px !important;
				}

				.dropdown-toggle:hover{
					padding-bottom: 0px !important;
				}
			}

			.dropdown-menu{
				min-width: 75px;
				text-align: left;
				li{

					float:initial !important;
					padding-left:10px;

					a:hover{
						color:$nav-text-color-hover !important;
					}

					&.active{
						> a, a:hover{
							color:$nav-text-color-hover !important;
						}
					}
				}
			}

		}

		//other devices
		.hidden-xs{

			@media(max-width: $screen-md-max){
				position: relative;
				margin-left: 14%;
				margin-top: 20px;
			}
			@media(max-width:992px){ margin-left: 22%; }
			@media(max-width:950px){ margin-left: 20%; }
			@media(max-width:900px){ margin-left: 19%; }
			@media(max-width:850px){ margin-left: 16%; }
			@media(max-width:800px){ margin-left: 14%; }
			@media(min-width: 992px) and (max-width: 1199px){
				position: relative;
				margin-left: 22%;
				margin-top: 20px;
			}

			a:hover{
				color:$nav-text-color-hover;
			}

			.caret{
				display: none;
			}

			.dropdown:hover .dropdown-menu {
			    display: block;
			    margin-top: 0;
			 }

			 .dropdown-menu li:hover .sub-menu {
			     visibility: visible;
			     display:inline-block;
			 }

			.dropdown-menu{
				box-shadow:none;
				min-width: 75px;
				text-align: center;
				li{
					float:initial;
					display: inline-block;
				}
			}
		}

		.navbar-header{
			text-align: center;
			.navbar-toggle{
				float: none;
				margin:20px 0;
			}
		}
		.navbar-nav{	
			li{
				@media(max-width: $screen-xs-max){
					width:100%;
				}
				&.active{
					> a, a:hover{
						border-bottom: $nav-border-bottom;
						background-color:initial !important;
						color:$nav-text-color-hover;
					}
				}

			}
		}
	}
}

footer{
	.nav{
		float:right;
		a{
			font-size: $font-size-footer-text;
		}
		.nav-primary{

			.caret{
				display:none;
				border-bottom: 4px dashed;
				border-top: initial;
			}

			li{ 
				display: inline;
				float: left;
				&.current_page_item{
					a{
						border-bottom: none;
						color:$nav-text-color-hover;
					}
				}
				&.active{
					> a, a:hover{
						background-color:initial !important;
						color:$nav-text-color-hover;
					}
				}

			}
			
			a:hover{
				border-bottom: none;
				background-color:initial;
				color:$nav-text-color-hover;
			}

			.dropdown:hover .dropdown-menu {
			    display: block;
			 }

			 .dropdown-menu li:hover .sub-menu {
			     visibility: visible;
			     display:inline-block;
			 }

			.dropdown-menu{
				min-width: 75px;
				text-align: center;
				left: 0;
				top: -230%;
				li{
					float:initial;
					display: inline-block;
				}
			}
		}
	}
}