
.page-header{
	height: $underpage-title-height;
	background-image: $page-title-background-img;
	background-repeat: repeat;
	margin:0 !important;
	h1{
		margin: 0;
		color:$font-color-underpage-title;
		font-size: $font-size-underpage-title;
		font-weight: $font-weight-underpage-title;
		line-height: $underpage-title-height;
		display:inline-block;
		vertical-align:middle;
	}
	
}