.product{
	background: #fff;
	padding: 0 0 15px;

	h2{
		color: #024479;
		font-size: 26px;
		font-weight: 300;
		margin-top: 47px;
	}

	.description{
		font-size: 16px;
		font-weight: 300;
		padding: 0 192px;
		margin-bottom: 53px;

		@media(max-width: $screen-xs-max){
			padding: 0 25px;
		}
	}

	.manifactureimg{
		margin-top: 30px;
		a{
			color: #024479;
			text-decoration: none;
			font-size: 16px;
			font-weight: 300;
		}
		a:hover{
			color: #0097CA;
		}
	}

	.prodPrev{
		min-height: 80px;
		img{
			max-width: 100%;
		}
	}

	.entry-content{
		text-align: center;
	}

	.properties{
		padding: 0 85px;
		margin-bottom: 26px;

		@media(max-width: $screen-xs-max){
			padding: 0 10px;
		}

		.property{
			border-bottom: 1px solid #d6d6d6;
			padding: 11px 0;

			&.first{
				border-top: 1px solid #d6d6d6;
			}

			.spec{
				text-align: left;
				color: #024479;
			}

			.info{
				text-align: right;
			}
		}
	}
}