.showcases{
	
	.showcase{
		margin:auto auto 34px;
		text-align: center;

		&.pos2{
			border-width:0px 1px;
			border-color: #eaeaea;
			border-style: solid; 
		}

		.showcase-bg 
		{
			display: block;
			background-color: $showcase-picture-background-color;
			border-radius: 50%;
			height: 105px;
			width: 105px;
			margin:auto;
			border: $showcase-border;
			line-height: 95px;

			img{
				
				margin: auto;
				vertical-align: middle;
				//position: relative;


				height: $showcase-height;
				@media (min-width: $screen-xs) { height: $showcase-height-xs; }
				@media (min-width: $screen-sm) { height: $showcase-height-sm; }
				@media (min-width: $screen-md) { height: $showcase-height-md; }
				@media (min-width: $screen-lg) { height: $showcase-height-lg; }
			}

		}

		.showcase-title 
		{
			color: $showcase-text-color;
			display: block;
			position: relative;
			margin: $showcase-title-margin;
			font-weight: 400;

			@media (min-width: $screen-xs) { margin: $showcase-title-margin-xs; font-size: 14px;}
			@media (min-width: $screen-sm) { margin: $showcase-title-margin-sm; font-size: 15px;}
			@media (min-width: $screen-md) { margin: $showcase-title-margin-md; font-size: 18px;}
			@media (min-width: $screen-lg) { margin: $showcase-title-margin-lg; font-size: 18px;}
			width: 100%;
		}

		&:hover{
			.showcase-bg {
				border-color: #024479;
			}

			.showcase-text{
				display: inline;
				position: relative;
				background: #FAFAFA;
				border-bottom: 3px solid #024479;
				color: #024479;
			}
			.showcase-text:after, .showcase-text:before {
				top: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			.showcase-text:after {
				border-color: rgba(250, 250, 250, 0);
				border-top-color: #FAFAFA;
				border-width: 7px;
				margin-left: -7px;
			}
			.showcase-text:before {
				border-color: rgba(2, 68, 121, 0);
				border-top-color: #024479;
				border-width: 10px;
				margin-left: -10px;
			}
		}
	}








}